body{
  background-color:#243447; 
 
}

h1, h2, h3, h4, h5, h6 p, span, strike{
  font-family: 'Montserrat', sans-serif;

} 
h6{   
  margin-top:5px; 
  font-size: x-small;
  color: #A9A9A9; 
}

#task-container{
  max-width:600px;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #141d26;
  margin-top:100px;
  margin-bottom:50px;

  justify-content: space-around;
  align-items: flex-start;

} 
#list-container{   
  margin-left: 23%; 
  max-width: 600px;  
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
  background-color: #141d26; 
  justify-content: space-around; 
  align-items: flex-start; 
  border-radius: 20px;  
} 

#form-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid  #e9e9e9;
  background-color: #141d26;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding:40px; 
}

#submit{
  background-color: #c51f5d; 
  border-radius: 0;
  border:0;
  color: #fff; 
  height:39px;  
  border-radius: 4px;
}

.flex-wrapper{
  display: flex;
}

.task-wrapper{
    cursor: pointer; 
    border-bottom: 1px solid 	#141d26; 
    color: #fff; 
    margin:5px;
    padding:20px; 
    border-radius: 20px;
}
 
.container{  
  margin-top:10%; 
} 